@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

// $main-font: 'PT Sans', sans-serif;
// Colors
$text-color: #444;
$title-color: #3c3c3c;
$bg-color: #f9f9f9;
$experience-bg-color: #002440;
$experience-content-bg-color: #f5f5f5;
$color-about:#e94a4f;
$color-grupal:#03293c;
$progressbar-bg: #ececec;
$progressbar-color: #34495e;
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// tipografia
@font-face {
  font-family:'tangerine';
  src: url('tangerine/Tangerine_Bold.ttf'); 
}
@font-face {
  font-family:'helvetica';
  src: url('helvetica/Helvetica_Bold.ttf'); 
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  color: $text-color;
  background: $bg-color;
  font-size: 16px;
  // font-family: $main-font;
}

#topname{
font-family: 'tangerine';
font-size: 4em;
color: #fff;
// color: red;
}


a{
  color: inherit;
  text-decoration: none;
}

section{
  position: relative;
  width: 100%;
}

/*##### HERO SECTION #####*/

.hero{

  // font-family: proxima-nova;
  height: 100vh;
  background: url('img/portada9.jpeg');
  background-size: cover;
  background-position: center;
  
  .content{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    
    .header{
      position: absolute;
      top: 55% !important;
      width: 100%;
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      text-align: center;
      opacity: 0;
      
      h1{
        color: #fff;
        font-size: 10em;
        text-shadow: 0px 2px 3px #2d2d2d;
        font-size: 3em;
        font-family: 'tangerine';
      }
      h3{
           color: #fff;
           font-family: 'Cookie', cursive;
           font-size: 3.5em;
           margin-top: 0px !important;
      }
    }
  }
}

/*##### ABOUT MYSELF SECTION #####*/

.about-myself{
  padding: 15px 20px !important;
  height: 100vh;  
  .content{
    text-align: center;
    
    h2{
      font-family: 'Quicksand', sans-serif !important;
      // color: #03293c;
      line-height: 1.875rem;
      font-size: 3em;
      margin-bottom: 40px;
      -webkit-transform: translateY(-50px) scale(0);
      transform: translateY(-50px) scale(0);
      -webkit-transition: transform .7s;
      -moz-transition: transform .7s;
      transition: transform .7s;  
    }
    p{
      font-family: 'Quicksand', sans-serif !important;
       color: #03293c;
       font-size: 1.5em;
    }
    .aboutTitleVisible{
      -webkit-transform: translateY(0px) scale(1);
      transform: translateX(0px) scale(1);
    }
    .row-bio{
      margin-top: 80px;
    }
  }

}

// about-circulo
.thick-white-border {
    border-color:red;
    border-width: 10px;
    border-style: hidden;
    border-radius: 180px;
  }

  .smaller-image {
    width: 200px;
  }
 
/*##### SKILLS SECTION #####*/

.skills{
  padding: 70px 20px;
  
  .content{
    
    .development-wrapper{
      
      .development-title{
        color: $title-color;
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
      }
      
      .skills-bar-container{
        position: relative;
        width: 100%;
        list-style-type: none;
        
        li{
          width: 100%;
          margin-bottom: 20px;
          
          .progressbar-title{
            color: $title-color;
            margin-bottom: 5px;

            h3{
              font-family: 'Quicksand', sans-serif !important;
              color:#03293c;
              display: inline-block;
            }
            span{
              font-family: 'Quicksand', sans-serif !important;
              color:#03293c;
            }
            .percent{
              // position: absolute;              
              font-size: 1.1em;
              // padding-left: 90vh !important;
            }
          }
          
          .bar-container{
            background: $progressbar-bg;
            position: relative;
            width: 100%;
            height: 10px;
          
            .progressbar{
              background: $progressbar-color;
              position:absolute;
              width:0%;
              height: 100%;
            }
          }
        }
      }
    }


    
    .tools-knowledge-wrapper{
      width: 100%;
      
      .tools-wrapper,
      .knowledge-wrapper{
        position: relative;
        padding: 20px 0;
        width: 100%;
        text-align:center;

        .title{
          color: $title-color;
          font-size: 2em;
          margin-bottom: 10px;
        }

        ul{
          list-style-type: none;
          margin-left: 40px;

          li{
            color: $text-color;
            font-weight: bold;
            font-size: 1.1em;
            text-align: left;

            i{
              color: #27ae60;
            }
          }
        }
      }    
    }
  }
}

/*##### RESUME SECTION #####*/

.resume{
  // background: url('https://source.unsplash.com/L8126OwlroY/');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  
  .content{
    // background: rgba(0,0,0,0.3);
    padding: 10px 0;
    text-align: center;
    
    a{
      color: #fff !important;
      text-transform: uppercase;
      
      .btn-resume{
        display: inline-block;
        font-size: 1.1em;
        padding: 20px;
        margin: 0 15px;
        background:$color-about;
        position:relative;
        border:2px solid #fff;
        border-radius: 5px;
        overflow: hidden;
        
        span{
          // font-family: "tangerine";
          font-family: "helvetica";
          -webkit-transition: opacity 1.2s;
          -moz-transition: opacity 1.2s;
          transition: opacity 1.2s;
        }
        
        i{
          color:#fff;
          position:absolute;
          padding: 20px 0;
          top:-80px;
          width:100%;
          left:0;
          -webkit-transition: top .5s;
          -moz-transition: top .5s;
          transition: top .5s;
        }
        
        &:hover {
          span{
            opacity: 0;
            -webkit-transition: opacity .4s;
            -moz-transition: opacity .4s;
            transition: opacity .4s;
          }
          i {
            top:0;
          }
        }
      }
    }
  }
}

/*##### PORTFOLIO SECTION #####*/

.portfolio{
  background: $bg-color;
  padding: 80px 0;
  
  .content{
    text-align: center;
    
    h1{
      color: $title-color;
      font-size: 2em;
      margin-bottom: 50px;
    }

    .projects{
      width: 100%;

      .project{
        color: #fff;
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        overflow: hidden;
        
        &:last-child{
          margin-bottom: 0;
        }
        
        .project-image img{
          width: 100%;
        }
        .project-title{
          color: $title-color;
          padding: 10px 0;
        }
        .project-description{
          color: $text-color;
        }
      }
    }
  }
}
.portafoliov .portafolio{
  margin-top: 12vh !important;
}

/*##### CONTACT SECTION #####*/

.contact{
  padding: 30px 0;
  
  .socials{
    list-style-type: none;
    width: 100%;
    
    .social{
      width: 25%;
      float: left;
      text-align: center;
      
      a{
        // font-family: "helvetica";
        color: #3d3d3d;
        font-size: 1.5em;
        -webkit-transition: color .3s;
        -moz-transition: color .3s;
        transition: color .3s;
      }
      .email:hover{color:#c8a028;}
      .twitter:hover{color:#57AEE7;}
      .linkedin:hover{color:#0177B5;}
      .codepen:hover{color:#707070;}
    }
  }
  .clear{
    clear:both;
  }
}


.footer{
  padding: 25px 0;
  text-align: center;
  
  p{
    color: #777;
    font-size: 1.1em;
  }
  
  i{
    color: #e74c3c;
  }
}

/* ############################
        RESPONSIVE
############################### */
@media (min-width:1000px){
  .skills .content .development-wrapper .skills-bar-container li .progressbar-title { 
  .percent1 {
    color: #3c3c3c;
    margin-bottom: 5px;
    padding-left: 80vh !important;
}
    .percent2 {
    color: #3c3c3c;
    margin-bottom: 5px;
    padding-left: 73vh !important;
}
    .percent3 {
    color: #3c3c3c;
    margin-bottom: 5px;
    padding-left: 59vh !important;
}

   .percent4 {
    color: #3c3c3c;
    margin-bottom: 5px;
    padding-left: 82vh !important;
}
    .percent5 {
    color: #3c3c3c;
    margin-bottom: 5px;
    padding-left: 81vh !important;
}
    .percent6 {
    color: #3c3c3c;
    margin-bottom: 5px;
    padding-left: 78vh !important;
}
 
}
}

@media screen and (min-width: 480px) {
  .skills .content{
    
    .tools-knowledge-wrapper{
      
      .tools-wrapper,
      .knowledge-wrapper{
        width: 50%;
        float: left;
        padding: 0;

        ul{
          margin-left: 0;
        }
      }
    }
    .clear{
      clear:both;
    }
  }
}

@media screen and (min-width: 640px) {
  
  .about-myself{
    padding: 100px 40px;
  }
  
  .skills{
    padding-left: 0;
    padding-right: 0;
    
    .content{

      .development-wrapper{
        width: 600px;
        margin: auto;
        margin-bottom: 50px;
      }

      .tools-knowledge-wrapper{
        width: 600px;
        margin: auto;
      }
    }
  }
  
  .contact{
    .content{
      .socials{
        width: 600px;
        margin: auto;
      }
    }
  }

}


@media screen and (min-width: 960px) {  
  .skills{
    padding-left: 50px;
    padding-right: 50px;
    
    .content{
      max-width: 1100px;
      margin: auto;
      
      .development-wrapper,
      // .tools-knowledge-wrapper{
      //   float: left;
      // }
      
      .development-wrapper{
        margin-bottom: 0;
        width: 60%;
      }
      
      .tools-knowledge-wrapper{
        width: 40%;
        margin-top: 60px;
        
        .tools-wrapper,
        .knowledge-wrapper{
          float: none;
          margin: auto;
        }
        
        .tools-wrapper{
          margin-bottom: 30px;
        }
      }
    }
  }
  
}

@media (max-width:500px){
.about-myself .content {
 .row-bio {
    margin-top: 30px;
}
 h2 {
  font-size: 2em;
}
}

}
@media (max-width:500px){
.skills {
    padding: 15px 20px;
}
}

@media (max-width:500px){
  .portafoliov{
    margin-top: 35vh;
  }
  .portafoliov .portafolio {
    margin-top: 1vh !important;
}
}
// css
.descripcion .row{
  font-family:'tangerine';
  color: $color-grupal;
  font-size: 1.5em;
  background-color: #f3d52f;
}
// portafolio
.portafoliov .container{
  background-color: #fef8e9;
  margin-top:20px;
}
.cont-porta{
  margin-bottom: 15px;
}
.link{
  height: 10vh;
   border: 2px solid #fef8e9;
}

// seccion modal{

  .main-nav-link{
    z-index: 1;
  position: fixed;
   top: 20px; 
  right: 20px;
  text-decoration: none;
  color: #666;
  font-size: 24px;
}

.main-nav-link:hover{
  color: #078e81;
}

.nav-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.nav-modal:target{
  opacity: 1;
  visibility: visible;
}

.nav-modal-link{
  font-family: "tangerine" !important;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 48px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.nav-modal-link:hover{
  text-decoration: none;
  color: #078e81; 
}
.header .fa {
  margin-top:80vh;
  font-size: 25px !important;
  color: #fff;
}
  #contacto i:hover{
    background-color:#fff;
}

  @media(max-width:500px){
    .nav-modal-link{
      font-size: 30px;
      font-family: 'Quicksand', sans-serif !important;
    }
  }

// barra de navegacion
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
  position: fixed !important;
  z-index: 1;
  top: 0;
  width: 100%; 
  border-radius: 0px !important;
  .container-fluid{
    float: right;
  }
}
.navbar-nav {
  width: 100%; }

.navbar-default .navbar-nav li {
  padding: 5px 16px; }
  .navbar-default .navbar-nav li a {
    font-family: 'Quicksand', sans-serif !important;
    color: #fff !important; }
  .navbar-default .navbar-nav li:hover {
    color: #fff; }

.navbar-nav li {
  border: 2px solid transparent;
  text-decoration: none;
  font-family: 'Lusitana', serif;
  font-size: 1.5rem;
  line-height: 1.3125rem;
  font-weight: 700; }
  .navbar-nav li:hover {
    border-color: #fff; }

.navbar-default2 {
  background-color:rgba(222, 54, 48, 0.77) !important;
  // border-color:rgba(222, 54, 48, 0.77)!important;
  position: fixed !important;
  z-index: 1;
  top: 0;
  width: 100%; 
  border-radius: 0px !important;
  .container-fluid{
    float: right;
  }
}

// portafolio mio
.portafolio{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: -35px;
  margin-bottom: 40px;
}

.portafolio h4{
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #354757;
  letter-spacing: 1.2px;
}

.portafolio h4:after{
  content: '';
  display: block; 
  width: 3%;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #E58859;
}

.portafolio-container{
  display: flex;
  justify-content: space-between;
}

.portafolio-item{
  width: 30%;
  position: relative;
  overflow: hidden;
  border-radius: .20em;
}

.portafolio-item img{
  width: 100%;
}

.portafolio-text{
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: rgba(254, 255, 255, .8);
  color: #FDFDFD;
  transform: translateY(100%);
  transition: all 450ms ease;
}

.portafolio-text h5{
  font-family: 'Quicksand', sans-serif !important;
  color: #299FFF;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin: 0;
}

.portafolio-text p{
  text-align: justify;
  color: #6D85A8;
}

.portafolio-item:hover .portafolio-text{
  transform: translateY(0);
}

.portafolio-img{
  transition: all 450ms ease;
}

.portafolio-item:hover .portafolio-img{
  transform: rotate(-5deg) scale(1.15);
}
// sesion contacto

#contact
{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#000;
  background-size: cover;
  color: #fff;
  text-align: center;
}

#contact {
  h1{
    font-size: 2.5em;
    font-family: 'Quicksand', sans-serif !important;
    font-family: 'tangerine'
  }
  h3 {
  font-size: 2em;
  color:#fff;
  font-family: 'tangerine'
   }
.fa{
  color: #fff !important;
}
}

.redes i{
  font-size: 30px; line-height: 50px; width: 50px; height: 50px;
  background:#000; border-radius: 50%; margin: 5px;}

.redes i:hover{background: #00b0f0 !important; }
